# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.6
before_script:
  - julia -e 'Pkg.clone("https://github.com/PieterjanRobbe/QMC.jl";'
  - if [ $TRAVIS_JULIA_VERSION = "0.6" ]; then export JULIA_LOAD_PATH=$JULIA_LOAD_PATH:~/.julia/v$TRAVIS_JULIA_VERSION/QMC; fi
notifications:
  email: false
# uncomment the following lines to override the default test script
#script:
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("MultilevelEstimators"); Pkg.test("MultilevelEstimators"; coverage=true)'
